# ==========================
# Terraform
# ==========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform Variables (contains secrets)
terraform.tfvars

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Lambda Build Files
# ==========================
*.zip

# ==========================
# Environment Files
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log